absl-py==0.9.0
astor==0.8.1
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
easydict==1.9
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
mock==3.0.5
networkx==2.4
numpy==1.18.0
opencv-python==3.4.3.18
Pillow==7.0.0
protobuf==3.11.2
pymongo==3.10.1
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
Cython==0.29.14

